.app-container {
  max-width: 95%;
  margin: 0 auto;
  padding: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;

  h1{
    font-size: 31px;
    font-weight: normal;
  }

  .items-per-page{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    p{
      font-size: 16px;
      span{
        color: #cc0000;
        font-weight: bold;
      }
    }
  }

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .loading-spinner:before {
    content: '';
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #000;
    animation: spinner 0.6s linear infinite;
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
}

/* For Mobile Phones */
@media only screen and (max-width: 540px) {
  .app-container {
    width: 100%;
    margin: 0;
    padding: 0px;
  
    h1{
      font-size: 20px;
    }
  }
}


/* For Large Tablets and Small Laptops*/
@media only screen and (min-width: 541px) and (max-width: 1280px) {

}




